#nav{
    background-color: #05050c;
    color: rgb(255, 255, 255);
    padding:20px 55px;

   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #05050c;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    
    color: rgb(255, 255, 255);
    padding:20px 55px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }